/*1080px ft 2400px*/
@media screen and (min-width: 1080px) and (max-width:2400px) {
    .contSelect {
        margin-right: 5rem;
    }
 
    .contLogoEspam img {
    width: 80px;
    position: relative;
    bottom: 35rem;
   }
   .nameUniversity {
    align-items: center;
    bottom: 30rem;
    color: var(--white);
    letter-spacing: .1rem;
    text-shadow: 3px 3px 1px var(--green);
    font-size: .7rem;
    padding: 0 3.7rem;
}
.contImgFounder  {
    position: relative;
    bottom: 20rem;
}
.contImgMfl img {
    width: 280px;
    height: 280px;
}
.paragraph {
    bottom: 17.5rem;
    
}
.paragraph p {
    font-size: 1rem;
}
}
/*820px ft 1080px*/
@media  screen and (min-width:820px ) and (max-width:1079px) {
    .contSelect {
        margin-right: 5rem;
    }
 
    .contLogoEspam img {
    width: 80px;
    position: relative;
    bottom: 35rem;
   }
   .nameUniversity {
    align-items: center;
    bottom: 30rem;
    color: var(--white);
    letter-spacing: .1rem;
    text-shadow: 3px 3px 1px var(--green);
    font-size: .7rem;
    padding: 0 3.7rem;
}
.contImgFounder  {
    position: relative;
    bottom: 20rem;
}
.contImgMfl img {
    width: 320px;
    height: 320px;
}
.paragraph {
    bottom: 17rem;
    
}
.paragraph p {
    font-size: 1.5rem;
}
}
/*414px ft 667px*/
@media  screen and (min-width:414px ) and (max-width:819px) {
    .contLogoEspam img {
        width: 60px;
        position: relative;
        bottom: 25rem;
       }
       .nameUniversity {
        align-items: center;
        bottom: 20rem;
        color: var(--white);
        letter-spacing: .1rem;
        text-shadow: 3px 3px 1px var(--green);
        font-size: .45rem;
        padding: 0 5.6rem;
    }
    .contImgFounder  {
        position: relative;
        bottom: 14rem;
    }
    .contImgMfl img {
        width: 200px;
        height: 200px;
    }
    .paragraph {
        bottom: 12rem;
        
    }
    .paragraph p {
        font-size: 1rem;
    }
    .contSelect , .imgEspam {
        display: none;
    }
   .positionMenu {
    display: block;
    margin-right: 10rem;
   }
   .menuIsOn {
    z-index: 1;
    width: 50%;
    height: 100%;
    display: block;
    padding: 5rem .5rem;
    color: var(--green);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-right: 10px solid var(--green);
}
.menuIsOn {
    position: fixed;
}
.contValuesHuman span {
    font-size: .6rem;
}
.paragraphOffer {
    padding: 1rem 0rem 0 1rem;
    font-size: 1rem;
}
}

/*375px ft 667px*/
@media  screen and (min-width:375px ) and (max-width:413px) {
    .contSelect , .imgEspam {
        display: none;
    }
   .positionMenu {
    display: block;
    margin-right: 10rem;
   }
   .contLogoEspam img {
    width: 60px;
    position: relative;
    bottom: 18rem;
   }
   .nameUniversity {
    align-items: center;
    bottom: 17rem;
    color: var(--white);
    letter-spacing: .1rem;
    text-shadow: 3px 3px 1px var(--green);
    font-size: .5rem;
    padding: 0 3.7rem;
}
.contImgFounder  {
    position: relative;
    bottom: 12rem;
}
.contImgMfl img {
    width: 150px;
    height: 150px;
}
.paragraph {
    bottom: 11.8rem;
    
}
.paragraph p {
    font-size: .8rem;
}
.contSelect {
    display: none;
}
.contValuesHuman img {
    width: 35px;
}
.contValuesHuman span {
    font-size: .8rem;
}
.contValuesHuman div {
    width: 40%;
}
.offerAcademic {
    font-size: .8rem;
}
.paragraphOffer {
    padding: 1rem .5rem 0 .5rem;
    font-size: .9rem;
}
.menuIsOn {
    z-index: 1;
    width: 50%;
    height: 100%;
    display: block;
    padding: 5rem .5rem;
    color: var(--green);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-right: 10px solid var(--green);
}
.menuIsOn {
    position: fixed;
}

}
/*320px ft 480px*/
@media  screen and (min-width:320px ) and (max-width:412px) {
    .contSelect , .imgEspam {
        display: none;
    }
   .positionMenu {
    display: block;
    margin-right: 10rem;
   }
   .contLogoEspam img {
    width: 80px;
    position: relative;
    bottom: 18rem;
   }
   .nameUniversity {
    align-items: center;
    bottom: 17rem;
    color: var(--white);
    letter-spacing: .1rem;
    text-shadow: 3px 3px 1px var(--green);
    font-size: .4rem;
    padding: 0 3rem;
}
.contImgFounder  {
    position: relative;
    bottom: 15.5rem;
}
.contImgMfl img {
    width: 150px;
    height: 150px;
}
.paragraph {
    bottom: 15.2rem;
    
}
.paragraph p {
    font-size: .7rem;
}
.contSelect {
    display: none;
}
.contValuesHuman img {
    width: 35px;
}
.contValuesHuman span {
    font-size: .8rem;
}
.contValuesHuman div {
    width: 40%;
}
.offerAcademic {
    font-size: .8rem;
}
.paragraphOffer {
    padding: 1rem .5rem 0 .5rem;
    font-size: .9rem;
}
.menuIsOn {
    z-index: 1;
    width: 50%;
    height: 100%;
    display: block;
    padding: 5rem .5rem;
    color: var(--green);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-right: 10px solid var(--green);
}
.menuIsOn {
    position: fixed;
}

}