.characterized {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    color: var(--green-principal);
    letter-spacing: .1rem;
}
.contValuesHuman img {
    width: 50px;
}
.contValuesHuman {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    gap: 1rem;
    text-transform: uppercase;
    color: var(--white);

}
.contValuesHuman div {
    box-shadow: 0px 5px 15px 1px var(--gray);
    background-color: var(--green-principal);
    border-radius: 30px;
    width: 25%;
    padding: .5rem ;
    border-bottom: 4px solid var(--green);
}
.contOfferAcademic {
    padding: 2rem 0;
    background-color: var(--green-light);
}
.offerAcademic {
    display: flex;
    justify-content: center;
    color: var(--green);
    border-bottom: 1px solid var(--green);
    padding-bottom: 1rem;
}
.paragraphOffer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--gray7373);
}
.positionFixedNews {
  z-index: 999;
  display: inline-block;
  width: 10%;
  position: fixed;
  bottom: .1rem;
}
.News {
  margin-left: 1rem;
  border: 2px solid var(--green);
  box-shadow: 0 0 10px 2px var(--green-light);
  background-color:var(--gray7373) ;
  border-radius: 50%;
  padding: .2rem;
}
.textNews {
  display: flex;
  justify-content: center;
  padding: .5rem 0;
  background-color:var(--green-light);
  color: var(--green);
}
/*animations*/
.blink-2 {
	-webkit-animation: blink-2 5s infinite ;
	        animation: blink-2 5s infinite ;
}
@-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
.flicker-2 {
	-webkit-animation: flicker-2 3s infinite ;
	        animation: flicker-2 3s infinite ;
}
@-webkit-keyframes flicker-2 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    45.99% {
      opacity: 1;
    }
    46% {
      opacity: 0;
    }
    46.9% {
      opacity: 0;
    }
    46.91% {
      opacity: 1;
    }
    51.99% {
      opacity: 1;
    }
    52% {
      opacity: 0;
    }
    52.8% {
      opacity: 0;
    }
    52.81% {
      opacity: 1;
    }
  }
  @keyframes flicker-2 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    45.99% {
      opacity: 1;
    }
    46% {
      opacity: 0;
    }
    46.9% {
      opacity: 0;
    }
    46.91% {
      opacity: 1;
    }
    51.99% {
      opacity: 1;
    }
    52% {
      opacity: 0;
    }
    52.8% {
      opacity: 0;
    }
    52.81% {
      opacity: 1;
    }
  }
  
.shake-top {
    -webkit-animation: shake-top 5s ease-in-out infinite both;
            animation: shake-top 5s ease-in-out infinite both;
  }
  @-webkit-keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
.fade-in-top {
    -webkit-animation: fade-in-top 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
            animation: fade-in-top 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
  }
  @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  